yolo/
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg
yolov5/darktrain.pt
yolov5/finalmodel.pt
yolov5/last.pt
yolov5/lighttrain.pt
yolov5/lighttrain2.pt
yolov5/pklotbdba.pt
